<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Page</title>
</head>
<body>
    {% for book in books %}
        <p>
            <h1>
                <a href="{% url 'detail_page' book.id %}">
                    {{ book.title }}
                </a>
            </h1>
        </p>
    {% endfor %}
</body>
<style>
    a {
        color: black;
        text-decoration: none;
        font-family: sans-serif;
    }
</style>
</html>